<html>
  <head>
    <link rel="shortcut icon" id="icon" />
    <link rel="stylesheet" href="https://unpkg.com/chota@latest" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HyperFlow | Page Not Found</title>
  </head>
  <body>
    <script>
      AOS.init();
      $("#icon").attr("href", "");
    </script>
    <style>
      body {
        font-family: Raleway;
        background-color: whitesmoke;
      }
    </style>
    <div align="center">
      <h1 class="display-1">404 | Not found</h1>
      <h2>You may need to be logged in to access this url</h2>
      <a class="h2" href="/"
        ><button class="">Return to Home</button></a
      >
    </div>
  </body>
</html>
