@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
body {
  background: url(./background.jfif) no-repeat center center fixed black !important ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Alata" !important;
}
* {
  font-family: "Alata" !important;
}
:root {
  font-family: "Alata" !important;
}

.hr {
  width: 50vw;
}
.wrap {
  height: 100%;
  width: 100%;
  text-align: center;
}

img {
  height: 50px;
  width: auto;
}

.wrap img {
  margin-left: -2vw;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0px;
}

.bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 3.6s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.animated {
  text-align: center;
  color: black;
  font-size: 40px;
}
#signcon {
  padding: 20px;
  background: rgba(242, 17, 17, 0.38);
}
.imm {
  transform: scale(7);
  display: block;
  margin: 0 auto;
}
#firstsec {
  background-color: orange;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 50vh;
}
#firstsec > h1 {
  font-family: proxima-nova, sans-serif !important;
  font-weight: 50;
  font-style: normal;
}
#img2 {
  transform: scale(10);
  display: block;
  margin: 0 auto;
}
#sec2 {
  background-color: chocolate;
  color: white;
  margin-bottom: -40vh;
}
#sec2 > h1 {
  font-family: proxima-nova, sans-serif !important;
  font-weight: 50;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  margin-bottom: -10vh;
}
.spacer {
  height: 80vh;
}
.spacer2 {
  height: 50vh;
}
.green {
  background: green;
  color: white;
}
.blue {
  background: dodgerblue;
  color: white;
}
