<html>
  <head>
    <link rel="shortcut icon" id="icon" />
    <link rel="stylesheet" href="https://unpkg.com/chota@latest" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./main.css" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="main.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
      integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
      integrity="sha512-+AdxWMqfOdtwMuXK482e5OgHYzN06s97n3NTAeAdTlUvlIgCBx3SUKvMculJIedylDfVCaQFdD6HaojI4aeBUA=="
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HyperFlow | A Chatting Site</title>
  </head>
  <body>
    <h1 style="color: dodgerblue; text-align: center; font-size: 60px">
      HyperFlow | Chat Here.
    </h1>

    <br />
    <hr class="hr" />
    <h1 style="color: white; text-align: center; font-size: 40px">
      A chatting site meant for you!
    </h1>
    <br />
    <div id="signcon" align="center">
      <div class="ui large buttons">
        <button onclick="location.href =  '/login'" class="ui button blue">
          Log in
        </button>
        <div class="or"></div>
        <button onclick="location.href = '/signup'" class="ui button green">
          Sign up
        </button>
      </div>
    </div>
    <div class="wrap">
      <img
        src="http://image.flaticon.com/icons/svg/3/3907.svg"
        id="arrow"
        class="animated bounce"
      />
    </div>
    <div
      data-aos-duration="1000"
      data-aos="flip-left"
      data-aos-offset="200"
      style="margin-top: -60vh"
      id="firstsec"
    >
      <h1
        data-aos="fade-right"
        data-aos-offset="300"
        style="font-size: 60px; text-align: center"
      >
        Blog for free, with ease, and with skill here.
      </h1>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><img
        class="imm"
        src="https://yeet.kudos.repl.co/proxy/https://www.elegantthemes.com/blog/wp-content/uploads/2016/02/animated-svg-logo-with-css-thumbnail.png"
      />
    </div>
    <div data-aos="zoom-in" data-aos-offset="200" id="sec2">
      <h1 data-aos-offset="300" data-aos="fade-up">
        To get your ideas out there, no matter what they are..
      </h1>
      <div class="spacer2"></div>
      <img
        id="img2"
        src="https://biomedicalodyssey.blogs.hopkinsmedicine.org/files/2020/08/GettyImages-1183103466.jpg"
      />
      <div class="spacer2"></div>
    </div>
    <div class="spacer2"></div>
    <h1
      data-aos="fade-left"
      style="color: white; text-align: center; font-size: 50px"
    >
      So do yourself a favor and start right now.
    </h1>
    <br />
    <div align="center">
      <div style="transform: scale(1.5)" class="ui large buttons">
        <button onclick="location.href =  '/login'" class="ui button blue">
          Log in
        </button>
        <div class="or"></div>
        <button onclick="location.href = '/signup'" class="ui button green">
          Sign up
        </button>
      </div>
    </div>
    <div class="spacer"></div>
    <script>
      AOS.init();
      $("#icon").attr("href", "");
    </script>
  </body>
</html>
